body{
  background-color: azure;
}

#intro {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  


.bg {
  margin: 50px;
  position: absolute;
  top: 3rem;
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position: center; 
  z-index: -1;
  animation: fadeInBackground 5s ease infinite alternate; 
}
  
@keyframes fadeInBackground {
  0% {
    opacity: 0.7; 
  }
  100% {
    opacity: 1;
  }
}

.introContent {
  margin-top: 15rem;
  width: 45%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: white;
  border-bottom: 5px solid #77E2E1;
}


@media (max-width: 768px) {
  #intro {
    flex-direction: column;
  }
  .bg,
  .introContent {
    width: 100%;
  }
}

.hello {
  font-size: 2rem;
  font-weight: 70;
  opacity: 0; 
  animation: slideInLeftFade 1s forwards;
  color: #000;
}

.introText {
  font-size: 2rem;
  font-weight: 700;
  opacity: 0;
  animation: slideInLeftFade 1s forwards 0.5s;
  color: #000;
}
  
.introName {
  color: red;
}

.intropara {
  font-size: 1.25rem;  
  opacity: 0; 
  animation: slideInLeftFade 1s forwards 1s;
  margin-bottom: 1rem;
  color: #000;
}
  
.btn {
  background: #FFD700;
  color: #000;
  margin-bottom: 5px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s forwards 1.5s;
  transition: background-color 0.3s ease;
}
  
.btn:hover {
  background: #FFA500;
}

.btnImg {
  width: 1.5rem;
  margin-right: 0.5rem;
}


@keyframes slideInLeftFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
}
}
   